body {
  padding: 0;
}

/* prevent test output and test fixtures from displaying over each other */
.ui-mobile [data-role=page] {
  position: relative;
}

/* improve positioning of the test stats (not on top of fixtures) */
#mocha {
  position: relative;
  margin: 1em;
}
#mocha-stats {
  position: absolute;
  top: 0;
  right: 0;
}
