<div id="bmp-forms-location" data-role="popup" class="ui-content">
    <form method="post" action="" class="sigPad">
        <!-- <div id="showmap" class="sig sigWrapper"> -->
            <div id="map-canvas"></div>
            <input type="hidden" name="output" class="output">
        <!-- </div> -->
        <fieldset class="ui-grid-b">
            <div class="ui-block-a">
                <button type="submit" data-role="button">Done</button>
            </div>
            <div class="ui-block-b">
                <button data-action="cancel" data-role="button">Cancel</button>
            </div>
            <div class="ui-block-c">
                <a data-action="clear" class="ui-disabled" data-role="button">Clear</a>
            </div>
        </fieldset>
    </form>
</div>
