{
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "$": false,
    "_": false,
    "assert": true,
    "Backbone": false,
    "sinon": false
  },
  "rules": {
    "comma-style": 0,
    "no-console": 0,
    "one-var": 0
  }
}
