{
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "$": false,
    "_": false,
    "Backbone": false
  },
  "rules": {
    "comma-style": 0,
    "indent": 0,
    "no-console": 0,
    "no-multiple-empty-lines": 1,
    "no-sync": 0,
    "one-var": 0,
    "quotes": 0,
    "standard/array-bracket-even-spacing": 0,
    "standard/object-curly-even-spacing": 0,
    "strict": 0
  }
}
