{
  "extends": ["@jokeyrhyme/es5"],
  "env": {
    "amd": true,
    "browser": true,
    "mocha": false,
    "node": false
  },
  "globals": {
    "BMP": true,
    /* Web Platform APIs */
    "MediaStreamTrack": false,
  },
  "rules": {
    /* Possible Errors */
    "valid-jsdoc": 0, /* TODO: 2 */
    /* Best Practices */
    "no-invalid-this": 0, /* TODO: 2 */
    "no-param-reassign": 0, /* TODO: 2 */
    /* Variables */
    "no-undefined": 0, /* TODO: 2 */
    /* Node.JS */
    "no-sync": 2
  }
}
