.DS_Store
node_modules
js/build
/BlinkForms*.js*

.idea/bforms_v3.iml
.idea/jsLibraryMappings.xml
.idea/workspace.xml
.idea/jsLinters/gjslint.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries
/nbproject
