.DS_Store

# 3rd-party / vendor
bower_components
node_modules
npm-debug.log

# JetBrains IntelliJ IDEA files
/.idea/workspace.xml
/.idea/dictionaries
/.idea/runConfigurations

BlinkForms.sublime-*
/nbproject

# temporary / output files
build
forms/locales/en/i18n.js
.eslintcache
