<div id="bmp-forms-location" data-role="popup" class="ui-content">
    <form method="post" action="" class="sigPad">
          <div id="map-canvas"></div>
          <input type="hidden" name="output" class="output">
        <fieldset class="ui-grid-a">
          <div class="ui-block-a">
              <button type="submit" data-role="button">Done</button>
          </div>
          <div class="ui-block-b">
              <button data-action="cancel" data-role="button">Cancel</button>
          </div>
        </fieldset>
    </form>
</div>
