<div id="bmp-forms-dialog-signature" data-role="popup" class="ui-content">
    <form method="post" action="" class="sigPad">
        <div class="sig sigWrapper">
            <div class="typed"></div>
            <canvas class="pad" style="cursor: crosshair; -ms-touch-action: none;"></canvas>
            <input type="hidden" name="output" class="output">
        </div>
        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <button type="submit" data-role="button">Done</button>
            </div>
            <div class="ui-block-b">
                <!--<button type="reset" data-role="button">Reset</button>-->
                <button data-action="clear" data-role="button">Clear</button>
            </div>
        </fieldset>
    </form>
</div>
